.principal-index{
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 50px;
    grid-area: main;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.349)), url(../img/messijugadordelpartido.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.principal-vidapersonal{
    background-color: black;
    grid-area: main;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.349)), url(../img/messijugadordelpartido.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.principal-carrera{
    padding-top: 50px;
    background-color: black;
    grid-area: main;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.349)), url(../img/messijugadordelpartido.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.principal-records{
    padding-top: 50px;
    background-color: black;
    grid-area: main;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.349)), url(../img/messijugadordelpartido.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.objetos{
    @extend %grid-center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 625px 625px;
    grid-template-areas:"imagen textouno""textodos video"
}

.objetos-carrera{
    @extend %grid-center;
    grid-template-columns: 1fr;
    grid-template-rows: 270px 550px;
    grid-template-areas:"texto""video"
}

.texto-goles{
    grid-area: texto;
}

.video-goles{
    grid-area: video;
}

.carousel-inner{
    width: cover;
    height: 600px;
    size-adjust: auto;
}

.carousel-item div{
    size-adjust: auto;
    width: 100%;
    height: cover;
}

.imagenuno{
    grid-area: imagen;
    size-adjust: auto;
}

.textouno{
    grid-area: textouno;
}

.textodos{
    grid-area: textodos;
}

.videouno{
    grid-area: video;
}

.video-goles{
    align-items: center;
    text-align: center;
    margin: 30px;
    animation-name: slidein;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.principal-camisetas{
    background-color: black;
    grid-area: main;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.349)), url(../img/messijugadordelpartido.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.principal-botines{
    background-color: black;
    grid-area: main;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.349)), url(../img/messijugadordelpartido.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.objetos-camisetas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1600px;
    flex-wrap: wrap;
    padding: 100px;
}

.objetos-botines{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 750px;
    flex-wrap: wrap;
}

.camiseta{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botines{
    display: flex;
    align-items: center;
    justify-content: center;
}

.objetos-camisetas div{
    display: flex;
    justify-content: space-around;
    height: 410px;
    border: 3px solid black;
    border-radius: 90;
    flex-direction: column;
    background-color: pink;
    transition: 0.5s;
}

.objetos-camisetas div:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px 10px black;
}

.objetos-botines div{
    display: flex;
    justify-content: space-around;
    height: 410px;
    border: 3px solid black;
    border-radius: 90;
    flex-direction: column;
    background-color: pink;
    transition: 1s;
}

.objetos-botines div:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px 10px black;
}

.objetos-camisetas img{
    height: 320px;
    width: 320px;;
}

.objetos-botines img{
    height: 320px;
    width: 320px;;
}

.objetos-camisetas h3{
    font-size: 22px;
    color: black;
    margin: 5px;
}

.objetos-botines h3{
    font-size: 22px;
    color: black;
    margin: 5px;
}

.objetos-camisetas div a{
    text-decoration: none;
    background-color: black;
    color: pink;
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10%;
}

.objetos-botines div a{
    text-decoration: none;
    background-color: black;
    color: pink;
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10%;
}

.productos-disponibles{
    padding-top: 70px;
    animation-name: slidein;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.messititulo{
    padding-top: 70px;
    animation-name: slidein;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.goles-messi{
    padding-top: 70px;
    animation-name: slidein;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

main{
    h1{
        align-items: center;
        text-align: center;
        font-size: 75px;
        color: pink;
    }
    h2{
        align-items: center;
        text-align: center;
        color: pink;
        font-size: 35px;
    }
}

.lio-messi{
    padding-bottom: 30px;
}

.lugar{
    padding-bottom: 30px;
}

.slide{
    padding-left: 20px;
}

@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0;
        width: 100%;
    }
}

@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0;
        width: 100%;
    }
}